$color_bg: #0d0c0c;
$color_bg-secondary: #181616;
$color_bg-alt: #282727;
$color_fg: #c5c9c5;
$color_primary: #c4746e;
$color_nix: #7eb2df;

* {
  all: unset;
}

.bar {
  color: $color_fg;
  background-color: $color_bg;
  border-radius: 0.2rem;
  font-family:
    Atkinson Hyperlegible,
    IosevkaTerm Nerd Font;
}
.launcher {
  color: $color_nix;
  background-color: $color_bg-secondary;
  padding: 0 .5rem;
  border-radius: 0 1rem 1rem 0;
  font-size: 1.2rem;
}

.leftbar,
.rightbar {
  border-radius: 1rem;
}

.systray {
  padding: 0 0.5rem;
  border-radius: 1rem;
  background-color: $color_bg-secondary;
}

.systray menu {
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: $color_bg;
    >menuitem {
	padding: 0.2rem;
	&:disabled label {
	    color: gray;
	}
	&:hover {
	    border-radius: 1rem;
	    background-color: $color_bg-secondary;
	}
    }
    seperator {
	background-color: #222;
	&:last-child {
	    padding: unset;
	}
    }
}

.weatherinfo {
  background-color: $color_bg-secondary;
  padding: 0 1rem;
  border-radius: 1rem;
}

.workspaces-widget {
  padding: 0 0.5rem;
  border-radius: 1rem;
}

.workspace-e:hover {
  color: $color_primary;
}

tooltip {
  background-color: $color_bg;
  border-radius: 1rem;
}

.calendar {
  padding: 0.3rem;
}

.current {
  color: $color_primary;
  font-weight: 700;
}

.audioinfo > *, .tempinfo > *, .customicons > * {
  padding: 0 0.2rem;
  border-radius: 1rem;
  &:hover {
      background-color: $color_bg-secondary;
  }
}

.datetime {
  background-color: $color_bg-secondary;
  padding: 0 0.5rem;
  border-radius: 1rem 0 0 1rem;
}
